# ======================
# APPLICATION (utilisé par docker-compose.yml en dev)
# ======================
DB_USER=joseph
DB_PASSWORD=change_me_in_production
DB_NAME=joseph_db
JWT_SECRET=change_me_64_chars_minimum

# ======================
# CI/CD — Jenkins (local ou VPS dédié)
# ======================
JENKINS_URL=http://localhost:8090
JENKINS_WEBHOOK_URL=https://your-tunnel.ngrok-free.app/github-webhook/

# ======================
# QUALITY — SonarQube (local ou VPS dédié)
# ======================
SONARQUBE_URL=http://localhost:9000
SONARQUBE_TOKEN=sqa_your_token_here
SONAR_DB_PASSWORD=sonar_secret

# ======================
# REGISTRY (pour build & deploy)
# ======================
REGISTRY_URL=ghcr.io/your-user
REGISTRY_USER=your-user
REGISTRY_PASS=your-token

# ======================
# VPS PRODUCTION (cible de déploiement)
# ======================
VPS_HOST=your-vps-ip-or-domain
VPS_USER=deploy
SSH_KEY_PATH=~/.ssh/id_rsa
